In [1]:
import pandas as pd

In [2]:
from CustomerAnalysis import CustomerAnalysis

In [3]:
import os
os.chdir("../dataset/")

In [4]:
user = CustomerAnalysis(1001)

In [5]:
user.account_data.head()

,ACCOUNTID,CUSTOMERID,ACCOUNTTYPE,ACCOUNTBALANCE,ACCOUNTSTATUS,INTERESTRATE,OPENINGDATE,LASTTRANSACTIONDATE
0,DKOF43820693680285,1516,Money market account,3546445,Active,8.71,2018-07-19 01:12:07,2022-08-06 07:04:28
1,GTNT04919496383691,1767,Savings account,912573,Frozen,9.52,2022-03-17 08:34:18,2022-03-04 08:34:18
2,RYBJ19802873524569,1284,Savings account,3920099,Closed,9.20,2009-05-26 18:40:32,2022-03-11 06:23:04
3,CXFV01522434911094,1805,Money market account,554606,Closed,5.41,2014-06-07 17:06:46,2022-01-25 13:06:49
4,GNHM80852530787749,1572,Checking account,2791932,Active,5.55,2021-08-19 22:00:42,2023-06-20 09:43:27